/* fonts */

@font-face {
    font-family: 'BotwFont';
    src: url('../fonts/The-Wild-Breath-Of-Zelda.woff2') format('woff2'),
         url('../fonts/The-Wild-Breath-Of-Zelda.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    /* Light Mode Colors */
    --main-color:#536F50;
    --accent-color: #FDFFE0;
    --accent-color2:#FBB905;

    /* Fonts */
    --font-family: 'BotwFont', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

    --rhythm: 1.5rem;
    font-size: 20px;
}

* {
  box-sizing: border-box;
}

body {
    background:url(../images/botw-background.png);
    font-family: var(--font-family);
}

p {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  color: #FDFFE0;
}

h1 {
  color: var(--accent-color2);
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 100;
}

.color-rectangle {
    width: 100%; 
    height: 250px; 
    background-color: var(--main-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    color: var(--accent-color);
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 100;
}

h2 {
    text-align: center;
    font-family: var(--font-family);
    color: var(--accent-color2);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
}

/* grid images */
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Creates 6 columns */
    grid-gap: 10px; /* Adjust as needed for spacing between images */
}
      
.grid-item {
    width: 100%; /* Ensure each grid item takes up full width of its column */
}
      
.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform .5s;
}

.grid-item img:hover{
    transform: scale(1.2);
  }

/* form */
.form-entry {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-entry input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-entry button[type="submit"] {
    background-color: var(--accent-color2);
    color: var(--main-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 18px;
}

.form-entry button[type="submit"]:hover {
    background-color: #CE9C14;
}

.form-entry .errors {
    color: red;
    margin-top: 10px;
    list-style-type: none;
}

/* modals */
.modal-container {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.modal {
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button#close {
  background-color: var(--accent-color2);
  border: 0;
  border-radius: 5px;
  color: var(--main-color);
  padding: 10px 25px;
}

.close-btn button:hover{
  cursor: pointer;
  transform: scale(1.2);
}


  /* Help button */
  .help-btn { 
    padding: 5px;
    position:fixed;
    right:30px;
    top:30px;
}

.help-btn button { 
  background-color: var(--accent-color2);
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  border: 5px solid var(--accent-color2);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 40px;
}

.help-modal-cont { 
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.help-modal {
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.help-modal h1 {
  margin: 0;
}

.help-btn button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.help-modal-cont.show { 
  opacity:1;
  pointer-events: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
}