/* fonts */

@font-face {
    font-family: 'BotwFont';
    src: url('../fonts/The-Wild-Breath-Of-Zelda.woff2') format('woff2'),
         url('../fonts/The-Wild-Breath-Of-Zelda.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    /* Light Mode Colors */
    --main-color:#536F50;
    --accent-color: #FDFFE0;
    --accent-color2:#FBB905;

    /* Fonts */
    --font-family: 'BotwFont', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

    --rhythm: 1.5rem;
    font-size: 20px;
}

body {
    background:url(../images/Botw-Background.png);
}

.color-rectangle {
    width: 100%; 
    height: 250px; 
    background-color: var(--main-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    color: var(--accent-color);
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 100;
}

h2 {
    text-align: center;
    font-family: var(--font-family);
    color: var(--accent-color2);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Creates 6 columns */
    grid-gap: 10px; /* Adjust as needed for spacing between images */
}
      
.grid-item {
    width: 100%; /* Ensure each grid item takes up full width of its column */
}
      
.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform .5s;
}

.grid-item img:hover{
    transform: scale(1.2);
  }

.form-entry {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-entry input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-entry button[type="submit"] {
    background-color: var(--accent-color2);
    color: var(--main-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 18px;
}

.form-entry button[type="submit"]:hover {
    background-color: #CE9C14;
}

.form-entry .errors {
    color: red;
    margin-top: 10px;
    list-style-type: none;
}
